:host {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 10px 0;
}

.form-card {
  min-width: 500px;

  &__form {
    display: grid;
  }

  .form-field__suffix {
    cursor: pointer;
  }

  @media (max-width: 500px) {
    min-width: 0;
    width: 100%;
  }
}
